<div style="display: flex; justify-content: center; align-items: center; height: 40vh;">
  <div style="text-align: center;">
      <h1>Welcome {{user}}</h1>
      <p>This is your dashboard</p>
      <div class="m-5 border rounded p-5 d-flex justify-content-between">
          <input [(ngModel)]="hobbies" type="text" placeholder="Enter your hobbies" class="form-control">
          <button class="btn btn-primary">Submit</button>
      </div>
      <div>
          <h4 *ngIf="hobbies">Hobbies are {{ hobbies }}</h4>
      </div>
  </div>
</div>

<div class="container mt-5">
  <table class="table table-bordered mt-3">
      <thead>
          <tr>
              <th>#</th>
              <th>Id</th>
              <th>Name</th>
              <th>Salary</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let emp of allEmployee; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ emp.empId }}</td>
              <td>{{ emp.empName }}</td>
              <td>{{ emp.empSal }}</td>
          </tr>
      </tbody>
  </table>
</div>
